@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    border: 0 solid;
  font-family: "Josefin Sans";
    font-height: inherit;
    margin: 0;
}

html {
  font-family: "Josefin Sans";
    line-height: 1.5;
}

img {
    max-width: 100%;
}

a {
    color: inherit;
    text-decoration: inherit;
}



#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
}

#header.header-scrolled, #header.header-inner-pages {
  background: #20303b;
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#header .logo a {
  color: #fff;
}

#header .logo img {
  max-height: 50px;
}

.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
}

.slide1, .slide2, .slide3, .slide4 {
    display: none;
}

.borne-container {
    display: flex;
    width: 80%;
    margin-top: 2rem;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.slideshow {
    position: relative;
    flex: none;
    margin-right: 0.75rem;
}


.controls {
    opacity: 0.25;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    position: absolute;
}

.controls:hover {
    opacity: 0.75;
}


.control {
    font-size: 1.875rem;
    line-height: 2.25rem;
    text-align: center;
    border-radius: 9999px;
    user-select: none;
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    top: 0;
    bottom: 0;
    position: absolute;
    background-color: white;
}

.control:hover {
    color: white;
    background-color: #1bb1ce;
}

.forward {
    right: 0;
}


.info {
    display: flex;
    flex-direction: column;
}

.info h1 {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

.info button {
    color:white;
    text-transform: uppercase;
    font-weight: 700;
    line-size: 1.25rem;
    line-height: 1.75rem;
    padding: 0.5rem;
    background-color: #1bb1ce;
    cursor: pointer;
    width: 100%;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

.second button {
    color:white;
    text-transform: uppercase;
    font-weight: 700;
    line-size: 1.25rem;
    line-height: 1.75rem;
    padding: 0.5rem;
    background-color: red;
    cursor: pointer;
    width: 40%;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

.second button:hover {
    background-color:rgba(37,99,235,1)
}

@media (min-width: 640px) {
    .borne-container {
        flex-direction: row;
        margin-top: 2rem;
        width: 70%;
    }

    .slideshow {
        width: 50%;
    }
}

@media (min-width: 1024px) {
    .borne-container {
        width: 50%;
    }
    
    .slideshow {
/*        width: 33.333333%; */
          width:30%;
    }

    .info h1 {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .info p {
        font-size: 1.125rem;
        font-height: 1.75rem;
    }
}
#footer .footer-newsletter {
  padding: 50px 0;
  background: linear-gradient(rgba(40, 58, 90, 0.9), rgba(40, 58, 90, 0.9)), url(../img/lightsmove.gif) fixed center center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  font-size: 15px;
  color: #444444;
}
